/* google font css import link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Love+Light&display=swap');

.love-light-font {
    font-family: "Love Light", cursive;
    font-weight: lighter;
  }

.inter-font {
    font-family: "Inter", sans-serif;
} 
 /* css variable declaration  */
 :root{
    --bg-primary: #232323;
    --gray-color: #8c8c8c;
 }
/* universal styles here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.link-style{
    text-decoration: none;
    color: white;
}
.d-flex{
    display: flex;
}
.primary-color{
    color: #e6533c;
}
.secondary-color{
    color: #8c8c8c;
}
.primary-btn{
    background-color: #e6533c;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 30px;
}

/* nav section styles start here */
header{
    background-color: var(--bg-primary);
}
.navbar{
    padding: 20px 120px;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.nav-brand{
    font-size: 36px;
    font-weight: 800;
}
.navbar-nav{
    gap: 45px;
    border: 1px solid rgba(238, 242, 242, 0.5);
    align-items: center;
    border-radius: 30px;
    padding-right: 10px;
}
.navbar-nav .active{
    padding: 5px 20px;
}
.nav-item{
    list-style: none;
    font-size: 18px;
}
.nav-menu-icon{
    display: none;
}
/* hero-image section style start here */
.hero-section{
   margin: 30px 120px 0px 120px;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
   color: white;
}
.hero-content{
    max-width: 550px;
    
}
.hero-title{
    font-size: 75px;
    font-weight: 700;
    padding-right: 30px;
}
.hero-description{
    color: var(--gray-color);
    margin: 20px 0px;
}
.hero-image-container{
    position: relative;
}
.hero-card-one{
    position: absolute;
    background-color: #604e43;
    align-items: center;
    padding: 20px 10px;
    gap:  10px;
    border-radius: 12px;
    bottom: 60px;
    right: 300px;
    width: 50%;
}
.hero-card-one span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e6533c;
}
.hero-card-one h5{
    font-size: 24px;
    font-weight: 700;
}
.hero-card-two h5{
    font-size: 40px;
    font-weight: 700;
}
.hero-card-one p, .hero-card-two p{
    color: var(--gray-color);
}
.hero-card-two{
    position: absolute;
    background-color: #604e43;
    padding: 10px;
    width: 50%;
    bottom: 380px;
    right: -40px;
    border-radius: 12px;
}
.hero-image{
    max-width: 350px;
}
.hero-image img{
    width: 100%;
}
.hero-btn-container button{
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
}
.hero-btn-container .btn-two{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
/* main section style */
main{
    background-color: #000000;
    color: white;
}
/* change-habit section start here */
.change-habit-section{
    padding: 40px 120px;
    margin-top: -5px;
}
.change-habit-content{
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
}
.change-habit-content h2{
    font-size: 48px;
    font-weight: 700;
}
.change-habit-content p{
    margin: 20px 0px;
    color: var(--gray-color);
}
.change-habit-cards{
    gap: 20px;
    margin: 60px 0px;
    justify-content: center;
    align-items: center;
}
.change-habit-card{
    text-align: center;
    max-width: 230px;
    flex-direction: column;
    align-items: center;
}
.change-habit-card .card-image{
    height: 180px;
    max-width: 180px;
}
.change-habit-card .card-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.change-habit-card .card-title{
    margin: 30px 0px 10px 0px;
    font-size: 18px;
    font-weight: 600;
}
.change-habit-card .card-description{
    color: var(--gray-color);
    padding: 0px 10px;
}
/* run-an-extra section start here */
.run-extra-section{
    margin: 50px 120px;
    background-color: var(--bg-primary);
    padding: 25px 30px;
    border-radius: 18px;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}
.run-extra-content{
    max-width: 400px;
    padding-right: 30px;
}
.run-extra-content .title{
    font-size: 48px;
    font-weight: 700;
}
.run-extra-content .description{
    color: var(--gray-color);
    margin: 20px 0px;
}
.run-extra-content button{
    padding: 15px 60px;
    font-size: 18px;
}
.run-extra-image{
    max-width: 390px;
    height: 330px;
}
.run-extra-image img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
/* training section start here */
.training-section{
    margin: 40px 120px;
}
.training-content .title{
    font-size: 45px;
    font-weight: 700;
}
.training-content .description{
    color: var(--gray-color);
    margin: 20px 0px;
    max-width: 600px;
}

.training-image{
    position: relative;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    width: 100%;
    height: 250px;
}
.image-1{
    background-image: url(./images/exercise1.jpg); 
    background-color: rgba(21, 229, 244, 0.6);
}
.image-2{
    background-image: url(./images/exercise2.png);
    background-color: rgba(249, 64, 13, 0.4);
}
.image-3{
    background-image: url(./images/exercise3.png);
    background-color: rgba(67, 65, 65, 0.2);
}
.image-4{
    background-image: url(./images/exercise4.png);
    background-color: rgba(0, 0, 0, 0.4);
}
.image-5{
    background-image: url(./images/exercise5.jpg);
    background-color: rgba(225, 225, 29, 0.4);
}
.image-6{
    background-image: url(./images/exercise6.jpg);
    background-color: rgba(46, 64, 114, 0.8);
}
.image-1 p, .image-3 p, .image-5 p, .image-6 p{
    position: absolute;
    left: 20px;
    bottom: 20px;
    max-width: 190px;
    opacity: 80%;
}
.image-2 p{
    position: absolute;
    left: 20px;
    top: 20px;
    max-width: 190px;
    opacity: 80%;
}
.image-4 p{
    position: absolute;
    top: 20px;
    right: -20px;
    max-width: 190px;
    opacity: 80%;
}
.row-1{
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 0.7fr;
}
.row-2{
    display: grid;
    grid-template-columns:  0.9fr 0.5fr 0.6fr;
}
/* our-mission section start here */
.our-mission{
    margin: 50px 120px;
}
.our-mission-content{
    max-width: 600px;
    text-align: center;
    margin: 30px auto;
}
.our-mission-content .title{
    font-size: 45px;
    font-weight: 700;
}
.our-mission-content .description{
    color: var(--gray-color);
    margin: 20px 0px;
}
.our-mission-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.our-mission-card{
    max-width: 310px;
    background-color: var(--bg-primary);
    border-radius: 8px;
}
.our-mission-card h2{
    font-size: 25px;
    font-weight: 600;
    padding: 10px 10px;
}
.our-mission-card p{
    color: var(--gray-color);
    padding: 0px 10px;
}
.our-mission-card button{
    background-color: #e6533c;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 8px;
    margin: 20px 10px;
}
.mission-card-image{
    max-width: 310px;
    height: 210px;
}
.mission-card-image img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
/* bmi-calculator section start here */
.bmi-calculator-content{
    max-width: 600px;
    margin: 30px auto;
}
.bmi-calculator-content .title{
    font-size: 48px;
    font-weight: 700;
}
.bmi-calculator-content .description{
    color: var(--gray-color);
    margin: 20px 0px;
}
.bmi-calculator-container{
    background-color: var(--bg-primary);
    padding: 30px 120px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.bmi-calculator-container h2{
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0px;
}
.bmi-calculator-container p{
    color: var(--gray-color);
    font-size: 14px;
}
.bmi-calculator-chart table, td, th{
    border: 1px solid var(--gray-color);
    border-collapse: collapse;
    text-align: left;
}
.bmi-calculator-chart td, th{
    max-width: 200px;
    padding: 10px 20px;
}
.bmi-calculator-chart th{
    font-size: 16px;
    font-weight: 600;
}
.bmi-calculator-chart td{
    color: var(--gray-color);
    font-size: 14px;
}
.bmi-calculator-calculate{
    max-width: 550px;
}
.bmi-calculator-calculate form{
    margin: 20px 0px;
}
.bmi-calculator-calculate form div{
    max-width: 600px;
    display: flex;
}
.bmi-calculator-calculate form input{
    border: none;
    padding: 10px;
    margin: 5px;
    background-color: #423f3f;
    width: 50%;
    border-radius: 8px;
}
.bmi-calculator-calculate form select{
    border: none;
    padding: 10px;
    margin: 5px;
    width: 100%;
    background-color: #423f3f;
    color: var(--gray-color);
    border-radius: 8px;
}
.bmi-calculator-calculate button{
    padding: 10px 35px;
}
/* our-team section start here */
.our-team-section{
    margin: 50px 120px 0px 120px;
    padding-bottom: 60px;
}
.our-team-content{
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}
.our-team-content .title{
    font-size: 48px;
    font-weight: 700;
}
.our-team-content .description{
    margin: 20px 0px;
    color: var(--gray-color);
}
.our-team-cards{
    background-color: var(--bg-primary);
    padding: 20px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.our-team-card{
    position: relative;
}
.our-team-image{
    max-width: 320px;
    height: 270px;
}
.our-team-image img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    opacity: 80%;
}
.our-team-image-caption{
    position: absolute;
    left: 20px;
    bottom: 15px;
}
.our-team-image-caption p{
    color: var(--gray-color);
}
/* footer section start here */
footer{
    background-color: var(--bg-primary);
    padding: 30px 120px;
    color: white;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: start;
}
.footer-left-part{
    max-width: 440px;
}
.footer-left-part .title{
    font-size: 60px;
    font-weight: 800;
    font-style: italic;
}
.footer-left-part .description{
    color: var(--gray-color);
    margin: 20px 0px;
    text-align: left;
}
.footer-right-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
}
.footer-right-part h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-right-part ul li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 18px;
}
.footer-right-part ul li a{
    color: var(--gray-color);
}
footer hr{
    color: var(--gray-color);
    margin: 50px 0px 20px 0px;
}
footer p{
    text-align: center;
    color: var(--gray-color);
}



/* responsive design for mobile device */
@media screen and (max-width:576px) {
    /* nav section styles start here */
    .navbar{
       padding: 40px 20px;
    }
    .navbar-nav{
        display: none;
    }
    .nav-menu-icon{
        display: block;
        font-size: 30px;
    }
    /* hero-image section style start here */
    .hero-section{
        margin: 30px 20px 0px 20px;
        flex-direction: column;
    }
    .hero-title{
        font-size: 40px;
        max-width: 280px;
    }
    .hero-card-two{
        right: -20px;
    }
    .hero-card-one{
        right: 200px;
    }
    /* change-habit section start here */
    .change-habit-section{
       padding: 40px 20px;
    }
    .change-habit-content h2{
        font-size: 35px;
    }
    .change-habit-cards{
        flex-direction: column;
    }
    /* run-an-extra section start here */
    .run-extra-section{
        margin: 30px 20px;
        flex-direction: column;
    }
    /* training section start here */
    .training-section{
       margin: 40px 20px;
    }
    .row-1{
        grid-template-columns: 1fr 1fr;
    }
    .row-2{
        grid-template-columns: 0.8fr 1.2fr;
    }
    .image-3, .image-6{
        display: none;
    }
    /* our-mission section start here */
    .our-mission{
       margin: 30px 20px;
    }
    .our-mission-cards{
        grid-template-columns: repeat(1,1fr);
        margin: 0px 30px;
    }
    .our-mission-card{
        max-width: 350px;
    }
    .mission-card-image{
        max-width: 350px;
        height: 220px;
    }
    /* bmi-calculator section start here */
    .bmi-calculator-content{
        margin: 20px;
    }
    .bmi-calculator-container{
        padding: 20px;
        grid-template-columns: repeat(1,1fr);
    }
    /* our-team section start here */
    .our-team-section{
        margin: 30px 20px 0px 20px;
    }
    .our-team-cards{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        padding: 20px 35px;
    }
    .our-team-cards .card-1, .our-team-cards .card-4{
        display: none;
    }
    /* footer section start here */
    footer{
       padding: 30px 20px;
    }
    .footer-container{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-right-part{
        grid-template-columns: repeat(1,1fr);
    }
    
    
}

/* responsive design for medium device or tablet */
@media screen and (min-width:577px) and (max-width:992px) {
    /* nav section styles start here */
    .navbar{
        padding: 40px 50px;
    }
    /* hero-image section style start here */
    .hero-section{
        margin: 30px 50px 0px 50px;
        flex-direction: column;
    }
    /* change-habit section start here */
    .change-habit-section{
        padding: 40px 50px;
     }
     .change-habit-cards{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         justify-content: center;
         align-items: center;
         margin: 0 auto;
     }
     /* run-an-extra section start here */
    .run-extra-section{
        margin: 60px 50px;
    }
    /* training section start here */
    .training-section{
        margin: 40px 50px;
    } 
    /* bmi-calculator section start here */
    .bmi-calculator-content{
        margin: 50px;
    }
    .bmi-calculator-container{
        padding: 20px;
        grid-template-columns: repeat(1,1fr);
    }
    /* our-team section start here */
    .our-team-section{
        margin: 30px 50px;
    }

    
}

  